* {
   margin: 0;
   padding: 0;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
   width: 100%;
   background: #8e9775;
   background: url("../../static/create.jpeg") no-repeat center center fixed;
   background-size: cover;
}

h1 {
   color: #e28f83;
}

.navbar.navbar-light {
   background-color: #8e9775;
   padding: 5px 25px;
}

.navbar-light .navbar-text {
   color: #faf2da;
   font-weight: 100;
}

.btn.btn-warning {
   background-color: #4a503d;
   color: #faf2da;
   border: 2px solid #4a503d;
   border-radius: 10px;
   margin-left: 20px;
}

.container-sm {
   margin-top: 100px;
}

.btn.btn-success.reg {
   border-radius: 25px;
   background-color: #8e9775;
   border: 1px solid #4a503d;
   min-width: 150px;
   margin-top: 25px;
}

.forms {
   margin: 40px 20%;
}

.forms h1 {
   margin: 50px 0;
}

.forms {
   background-color: rgb(255, 255, 255, 0.8);
   padding: 50px;
   border-radius: 25px;
   backdrop-filter: blur(5px);
}


#messages p {
   color: rgb(175, 0, 0);
}