* {
   margin: 0;
   padding: 0;
   font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
   width: 100%;
   background: #8e9775;
   background: url("../../../static/plantr.jpeg") no-repeat center center fixed;
   background-size: cover;
}

.container-lg.main {
   padding: 50px;
   margin-top: 50px;
   border-radius: 15px;
}

.container-sm {
   margin: 15px 0 0 0;
}

.navbar-text a {
   color: #faf2da !important;
   text-decoration: none;
}

.navbar.navbar-light {
   background-color: #8e9775;
   padding: 5px 25px;
}

.navbar-light .navbar-text {
   color: #faf2da;
   font-weight: 100;
}

.btn.btn-danger {
   background-color: #4a503d;
   color: #faf2da;
   border: 2px solid #4a503d;
   border-radius: 10px;
   margin-left: 20px;
}

.btn.btn-danger:hover {
   background-color: #393d2e !important;
   color: #faf2da;
   border: 2px solid #393d2e;
   border-radius: 10px;
}

.row-cols-4 {
   margin: 25px 0;
} 

.col-4 {
   margin: 10px;
   padding: 0;
   background-color: rgba(255, 255, 255, 0.8);
   position: relative;
   width: 220px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-radius: 10px;
}

.col-lg-4 {
   background-color: rgba(255, 255, 255, 0.5);
   position: relative;
   height: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-radius: 10px; 
   backdrop-filter: blur(5px);

}

.col-lg {
   background-color: rgba(255, 255, 255, 0.5);
   position: relative;
   margin: 0 0 0 15px;
   padding: 15px;
   height: auto;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-radius: 10px;
   backdrop-filter: blur(5px);
   text-align: center;
}

/* Plant Images */
.rounded.mx-auto.d-block {
   width: 100%;
   height: 250px;
   object-fit: cover;
   object-position: 50% 55%;
   transition: transform .5s;
}

.rounded.mx-auto.d-block:hover {
   transform: scale(1.1);
}

.pname {
   position:absolute;
   top: 85%;
   left: 0;
   right: 0;
   padding: 6px 0 10px 0;
   margin-bottom: 15px;
   background-color: rgba(255, 255, 255, 1);
}

.fav {
   line-height: 10px;
}

.pname a {
   text-decoration: none;
   color: #8e9775;
   font-weight: 800;
}

.fav a {
   text-decoration: none;
   color: #e28f83;
   font-weight: 800;
}

.fav a:hover {
   color: #c05848;
}

.pname a:hover {
   color: #4a503d;
}


h1 {
   color: #e28f83;
   font-weight: 800;
}

.liked {
   color: #e28f83;
   font-style: italic;
}

.info {
   text-align: center;
}

@media only screen and (max-width: 1000px) {
   .col-lg {
      margin: 15px 0;
   }

   .row.row-cols-4 {
      justify-content: center !important;
   }
}